*{
    box-sizing: border-box;
    padding:0px;
    margin-bottom:0px;
}

body{
    font-family:	"Helvetica	Neue",	Helvetica,	Arial,	sans-serif;
    margin:	10px	0	0	0;
    padding:0	10%;
}

.panel{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.panel-heading {
    background-color:	#49B749;
    color:	#ffffff;
    font-family:	Helvetica,
    Arial,	sans-serif;
    padding:8px 20px;
    width:100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.panel-heading h3,p{
  margin: 0;
  font-weight: lighter;
}

.panel-heading a{
  color:#fff;
  text-decoration: none;
}

.menu	{
    margin:	5px	auto	10px	auto;
    list-style:none;
    text-align:	center;
    display:	flex;
    justify-content: space-around;
}

.menu	>	li	{
    display:	inline-block;
}

.menu-item	{
    background-color:	#0093D5;
    border:	1px	solid	#CCCCCC;
    border-radius:	5px;
    color:	#ffffff;
    display:	inline-block;
    font-family:	"Helvetica	Neue",	Helvetica,	Arial,	sans-serif;
    margin:	5px;
    padding:	5px	10px;
    text-align:	center;
    text-decoration:none;
    transition:	all	0.2s	ease-out;
}

.menu-item:hover	{
    box-shadow:	0	2px	2px	rgba(0,0,0,0.2);
    transform:	translateY(-2px);
}

.panel	img	{
    height:	150px;
    border-radius:50%;
    border:2px	solid	#ddd;
}

.lightbox{
    background:	rgba(0,0,0,0.8);
    color:	#fff;
    height:	100%;
    left:	0;
    position:	fixed;
    text-align:	center;
    text-decoration:	none;
    top:	0;
    visibility:	hidden;
    width:	100%;
    z-index:	999;
}

.lightbox:target	{
    outline:	none;
    visibility:	visible;
}

.log a{
    margin-top: 10px;
    font-size: 60px;
    text-decoration: none;
    color:#000;
    font-weight: bolder;
    margin-bottom:10px;
    cursor: pointer;
}

.log label{
    background-color:	#0093D5;
    border:	1px	solid	#CCCCCC;
    border-radius:	5px;
    color:	#ffffff;
    font-family:	"Helvetica	Neue",	Helvetica,	Arial,	sans-serif;
    margin:	5px;
    padding:	5px	10px;
    text-align:	center;
    text-decoration:none;
    transition:	all	0.2s	ease-out;
}

.form-set{
    padding:0 15px;
    display: flex;
    justify-content: space-around;
}

.form-set input, select{
    width:80%;
    height: 30px;
    font-size: 16px;
    margin:10px 0;
}

.form-card{
    margin: 50px auto;
    box-shadow: 0 0 10px #808080;
    background: #0062cc;
    width:60%;
    padding:30px 0;
}

.form-card h1, .form-card h2{
    text-align: center;
    margin:40px 0;
    color: #fff;
    font-weight: lighter;
    text-shadow: 0 0 2px #000;
}

.form-card h1{
    font-size: 50px;
}

.form-card input{
    margin:0px auto;
    border-radius: 2px;
    width:80%;
    height:35px;
    border: none;
    margin:10px 0;
    padding: 0 10px;
    /* border:1px solid #808080; */
    outline:none;
}

.form-card .btn-submit{
    background: none;
    width:80%;
    height: 35px;
    color:#fff;
    cursor: pointer;
    border:1px solid #fff;
    transition: .5s ease-in;
    text-align: center;
}

.form-card .btn-submit:hover{
    background: #fff;
    color:#000;
}

.form-card a{
    color:#fff;
    text-decoration: none;
}

label{
  margin: 10px 0;
}

.form-set textarea{
    width:80%;
}

fieldset{
  margin:10px 0;
  padding:15px;
}

.btn{
    margin:10px;
}

hide{
    display: none;
}


.tab-wrap{
    display: flex;
    justify-content: space-around;
}

.tab-wrap a{
    color:#fff;
    background: #0093D5;
    padding: 5px 10px;
    text-decoration: none;
}

.tab-body{
    list-style: none;
}

.card{
    box-shadow: 0 0 2px #808080;
    width:80%;
    padding:2px 10px;
    margin-bottom: 20px;
}

.card-heading h3{
    margin-bottom: 10px;
    font-weight:normal;
}

.card-heading h3 span{
    font-size:12px;
    border-radius: 5px;
    color:#fff;
    padding: 2px 5px;
}

.status-pending { background:#49B749; }
.status-resolved  { background:#0093D5; }
.status-rejected { background:red; }

.card-body{
      padding: 10px;
}

.tabbed-widget{
  width:100%;
  height:auto;
  border:1px solid #000;
}

[id^=tab]  {
    position: absolute;
    background: #fff;
    width:100%;
    height: auto;
    display: none;
}

[id^=tab]:first-child {
    z-index: 1;
}

[id^=tab]:target {
    z-index: 2;
}

.card-action{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.card-action button{
  width:100px;
  height: 30px;
  border:1px solid #000;
  background: none;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease-out;
}

.card-action button:hover{
    background: #000;
    color:#fff;
}
